.container {
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  background-color: #C0C0C0;
}

.title {
  color: #000;
}

.codeLine {
  clear: both;
  margin-bottom: 10px;
}

.even {
  background-color: #E0E0E0;
}
code{
  color:black;
}

.odd {
  background-color: #F0F0F0;
}

.explanation {
  color: #008000;
}
