/* SmartContractWithCatComponent.module.css */

.container {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
  }
  
  .title {
    color: #61dafb;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .description p {
    line-height: 1.5;
  }
  
  .description h2 {
    color: #61dafb;
  }
  
  .description ol {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .description li {
    margin-bottom: 5px;
  }
  
  .referenceLink {
    color: #4CAF50; /* Green color for the reference link */
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .referenceLink img {
    width: 20px;
    margin-right: 10px;
  }
  
  .referenceLink:hover {
    text-decoration: underline;
  }

.footnoteReference {
  font-size: 80%;
  vertical-align: super;
  text-decoration: none;
  color: #4CAF50; /* Green color for the reference link */
  margin-left: 4px;
}

.container a {
  color:#f7931a;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

/* Pseudo-elements for links */
.container a:before,
.container a:after {
  content: ' [ ';
  color: #f7931a;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.container a:after {
  content: ' ] ';
  left: auto;
  right: -10px;
}

.container a:hover:before,
.container a:hover:after {
  opacity: 1;
  
}
.container a:hover{
  color: white;
}
.container a{
  color:#f7931a;
}