/* WalkingCat.module.css */
.main{
  font-size: 20px;
  margin: 0;
  background-image: url('../../assets/images/bg_orange.png');
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  display: flex;
  min-height: 60vh; 
  align-items: center;
}
.transparentContainer {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px; 
}
.frontpageCat{
  max-width: 40vb;
  display: block; 
  margin: 0 auto; 
}
.matrixTextContainer {
  position: absolute;
  padding-left:15px;
  padding-right:15px;
  top: 50%;
  right: 0; /* Align to the right side */
  transform: translateY(-50%);
  overflow: hidden;
  white-space: nowrap;
  color: #f7931a; /* Matrix green color */
  background-color: rgba(0, 0, 0, 0.8);
}

.matrixText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.2em;
  animation: matrix-animation 10s linear infinite;
}


.aboutSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.column {
  width: 48%;
  margin-bottom: 1em;
  padding:10px;
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}
.marco {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
}

.cielo {
  border-radius: 16px;
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, #0B4C5F 0%, #04B4AE 52%, #0c0207 100%);
  position: absolute;
  z-index: -30;
  top: 0;
  margin-top: 2em;
}



/* Animacion edificios */
@keyframes animar_edificios {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.btcIcon{
  background: url('../../assets/images/bitcoin-btc-logo.svg');
  width: 6em;
  height: 6em;
  margin-top: 1em;
  margin-left: 30%;
  position: absolute;
}
.luna {
  
  border-radius: 50%;
  box-shadow: 30px 10px 0 #F7F8E0;
  
  z-index: -19;
}

.muro {
  height: 23em;
  width: 100%;
  background: linear-gradient(to bottom, #416663 0%, #0c0207 19%);
  bottom: 0px;
}

.gato {
  background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
  height: 297px;
  width: 507.5px;
  margin-top: 2em;
  margin-left: 2em;
  z-index: 10;
  animation: sprite-animation 1.2s steps(16, end) infinite;
}





@keyframes sprite-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -8120px 0;
  }
}
.mainCat{
  margin: 0;
  background-color: #0c0207;
}
.transparentContainer a {
  color:#f7931a;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

/* Pseudo-elements for links */
.transparentContainer a:before,
.transparentContainer a:after {
  content: ' [ ';
  color: #f7931a;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.transparentContainer a:after {
  content: ' ] ';
  left: auto;
  right: -10px;
}

.transparentContainer a:hover:before,
.transparentContainer a:hover:after {
  opacity: 1;
  
}
.transparentContainer a:hover{
  color: white;
}
.transparentContainer a{
  color:#f7931a;
}