/* Global styles */
body {
  background-color: #220614;
  min-height: 110vh;
  color: white;
}

/* Cat logo */
.catIcon {
  width: 50px;
}

/* Navbar container */
.navbar {
  background-color: #0c0207;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 300;
  border-radius: 15px;
}

/* Hamburger menu icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #f7931a;
  margin: 3px 0;
  transition: 0.4s;
}

/* Menu links */
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #0c0207;
  border-radius: 15px;
  
}

.links li {
  margin-right: 20px;
}

.links a {
  color:#f7931a;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

/* Pseudo-elements for links */
.links a:before,
.links a:after {
  content: ' [ ';
  color: #f7931a;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.links a:after {
  content: ' ] ';
  left: auto;
  right: -10px;
}

.links a:hover:before,
.links a:hover:after {
  opacity: 1;
  
}
.links a:hover{
  color: white;
}
/* Open menu */
.open .hamburger .bar {
  transform: rotate(-45deg);
}

.open .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}

.open .links li {
  margin: 15px 0;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #0c0207;
    z-index: 1;
  }

  .links.open {
    display: flex;
  }

  .links li {
    margin: 10px 0;
  }

  .open .hamburger .bar {
    transform: rotate(-45deg);
  }
}
