:not(body) .votecontainer {
    color: #000000;
}
.votecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    background-color: #ffffff;
  }
  
  .vote-image {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }